/*---------------
　全体
----------------*/
html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: black;
    
    background-image: url("images/4697_4.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
/*-------カーソル--------*/
#cursor {
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #0018ec;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    pointer-events: none;
}
 
#cursor.active {
    transform: scale(0);
}
 
#stalker {
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #0018ec;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    transition: 0.2s;
    opacity: .3;
    pointer-events: none;
}
 
#stalker.active {
    transform: scale(3);
}
/*---------------
　header
----------------*/
header{
    height: 600px;
}
.menu{
    float: right;
    position: relative;
    top: 400px;
    margin-right: 20px;
}
header a, li{
    float: left;
}

ul,li{
    list-style: none;
    margin: 0;
    margin-left: 30px;
    color: blue;
    font-family: 'Poiret One', cursive;
    font-size: 25px;
}

.top{
    text-align: center;
    position: relative;
    top: 230px;
}
.top p{
    z-index: 1;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 25px;
    color: blue;
    font-family: 'Poiret One', cursive;
    font-size: 40px;
}

.clear{
    clear: both;
}

/*---------------
　ABOUT
----------------*/
.about{
    margin: 30px;
    background-color: #1a1a1a;
    border-radius: 30px;
}
.about_title{
    color: blue;
    font-family: 'Poiret One', cursive;
    font-size: 40px;
    margin-left: 40px;
}

.about_text{
    width: 50%;
    float: left;
    color: #e6ffff;
    text-align: center;
}

.name {
    background: linear-gradient(transparent 70%, blue 50%);
  }
.star{
    color: blue;
}
.icon{
    width: 50%;
    float: right;
    text-align: center;
}

.icon img{
    border-radius: 80%;
    display: inline-block;
    box-shadow: 0px 0px 20px -5px rgba(152, 152, 247, 0.8);
}
/*---------------
　SKILLS
----------------*/
.skills{
    margin: 30px;
    background-color: #1a1a1a;
    border-radius: 30px;
}
.skills_title{
    color: blue;
    font-family: 'Poiret One', cursive;
    font-size: 40px;
    margin-left: 40px;
}
.language1{
    float: left;
    width: 33%;
    color: #e6ffff;
    text-align: center;
}
.language2{
    float: right;
    width: 33%;
    color: #e6ffff;
    text-align: center;
}
.others{
    float: right;
    width: 33%;
    color: #e6ffff;
    text-align: center;
}

/*---------------
　WORKS
----------------*/
.works{
    margin: 30px;
    background-color: #1a1a1a;
    border-radius: 30px;
}
.works_title{
    color: blue;
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    margin-left: 40px;
}

.co2buster{
    float: left;
    width: 40%;
    color: #e6ffff;
    text-align: center;
}

.magiccombat{
    float: right;
    width: 40%;
    color: #e6ffff;
    text-align: center;
}

.web_title{
    font-size: 20px;
}

.co2buster img{
    width: 90%;
}

.magiccombat img{
    width: 90%;
}
/*---------------
　CONTACT
----------------*/
.contact{
    margin: 30px;
    background-color: #1a1a1a;
    border-radius: 30px;
}
.contact_title{
    color: blue;
    font-family: 'Poiret One', cursive;
    font-size: 40px;
    margin-left: 40px;
}

.mail_icon{
    color: blue;
    font-size: 2.5em;
}
.mail p{
    font-size: 18px;
    margin: 20px;
    line-height: 18px;
}
.address{
    color: #e6ffff;
}
/*---------------
　フッター
----------------*/
footer p{
    color: blue;
    text-align: center;
}